@model Employee

@{
    ViewData["Title"] = "DetailsOfEmployee";
    Layout = "~/Views/Shared/BaseTemplate.cshtml";
}

<title>Details of Employee - Griffin SC</title>
<h2>@Model.NameAndSurname</h2>
<br />

@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            <em>
                <strong>Employee:</strong> @Model.NameAndSurname <br />
                <strong>Salary:</strong> @Model.Salary AZN <br />
                <strong>City:</strong> @Model.City <br />
                <strong>Experience Level:</strong> @Model.ExperienceLevel <br />
                <strong>Birth Date:</strong> @Model.BirthDate.ToString("MM/dd/yyyy")
            </em>
        </div>
    </div>

    <br />
    <a class="btn btn-outline-dark" asp-controller="Employee" asp-action="Index">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        Back
    </a>
}

else
{
    <br />
    <div class="alert alert-danger" role="alert">
        There is no information about @Model.NameAndSurname!
    </div>
}
